.methods .description
	font-size: 1.4em

.column-wrap
	display: inline
	margin-bottom: 60px

section
	margin-top: 100px
	width: $first-breakpoint-width
	font-weight: 400
	box-sizing: border-box

	body > &:last-child
		margin-bottom: 80px

	.description
		margin: 15px 0 0px 0
		line-height: 1.2
		font-size: 1.4em
		color: $calmer-black

	.centered-list
		text-align: center

section, .column-wrap
	margin-left: auto
	margin-right: auto

@media all and (min-width: $first-breakpoint)
	section, .column-wrap
		width: $first-breakpoint-width

@media all and (min-width: $second-breakpoint)
	section, .column-wrap
		width: $second-breakpoint-width
		display: block

	.column-left
		padding-left: 0
		padding-right: 5%

	.column-right
		padding-right: 0
		padding-left: 5%

	.column-left, .column-right
		width: 49.5%
		display: inline-block
		vertical-align: top

@media all and (min-width: $third-breakpoint)
	section, .column-wrap
		width: $third-breakpoint-width

@media all and (min-width: $fourth-breakpoint)
	section, .column-wrap
		width: $fourth-breakpoint-width