.feature-section
	.header
		font-size: 2em
		color: $black
		text-align: center
		font-weight: 400
		margin: 0

	ul.centered-list
		text-align: center

		li
			margin: 6px 0
			font-size: 1.25em

			a
				color: $red

@media all and (min-width: $second-breakpoint)
	section
		font-size: 110%

		.description
			font-size: 1.3em

		.methods
			ul li
				font-size: 1.2em

			.description
				font-size: 1.25em