// 
// SIZES
// 

$first-breakpoint = 500px
$second-breakpoint = 700px
$third-breakpoint = 900px
$fourth-breakpoint = 1100px

$first-breakpoint-width = 85%
$second-breakpoint-width = 600px
$third-breakpoint-width = 700px
$fourth-breakpoint-width = 900px

// 
// COLORS
// 

$blue = #289cd8
$calm-blue = lighten($blue, 10%)
$black = #0b0b0b
$calm-black = lighten($black, 25%)
$calmer-black = lighten($black, 30%)
$red = #f0424b