extends ../_layout

block end-body-includes
	script(type='text/javascript' src='/js/work.js')

block content
	section.intro
		h2.header Work
		p.description
			| happens all over. These are a few of the things I've done and the places they've happened.
		p.description.resume
			| Take a look at my 
			a(href='https://www.dropbox.com/s/8bmtjg75ppk0nvk/ResumeCombined.pdf?dl=0' onClick="_gaq.push(['_trackEvent', 'File', 'Download', 'Resume']);") resume
			|  if you want a hard copy.
	ul.navigation
	.column-wrap
		section.work-block.column-left
			a(href='http://www.turing.io', title='Turing')
				img(src='/img/work/turing.png', alt='Turing')
				h3.header Turing School of Software and Design
				h3.header Denver
			p.description
				| In the spring of 2018 I decided it was time to use the skills I learned at Pivotal to help others find a career they love. I joined Turing as a Fellow — a sort of temporary instructor — knowing I would eventually return to software development but wanting to contribute to the  
				a(href="https://medium.com/turingschool") school's mission 
				| of helping a diverse population succeed in fulfilling careers. That mission is still important to me today, even after Turing. #[br] #[br] I developed curriculum for and gave lectures on the fundamentals of programming, object oriented design, testing, and web development. I also paired one on one with students, helping them get a more in-depth understanding of the concepts taught in class. #[br] #[br] In addition to my normal responsibilities, I developed a starter-kit iOS application for a national non-profit partnering with Turing to empower girls to learn to code and become leaders in tech.
				
		section.work-block.column-right
			a(href='http://www.pivotaltracker.com', title='Pivotal Tracker')
				img(src='/img/work/tracker.png', alt='Pivotal Tracker')
				h3.header Pivotal
				h3.header Denver
			p.description
				| I worked on the Pivotal Tracker team in Denver as a native mobile and web front end developer. I helped maintain their 
				a(href="https://itunes.apple.com/us/app/pivotal-tracker/id444623375?mt=8") iOS
				|  app and rewrite their  
				a(href="https://play.google.com/store/apps/details?id=com.pivotaltracker.app&hl=en") Android
				|  app. Previously, I worked to create their 
				a(href="https://www.pivotaltracker.com/blog/pivotal-tracker-analytics-now-out-of-beta/") analytics
				|  platform using React. I've also written blog posts about 
				a(href="https://pivotaltracker.com/blog/using-systrace-profile-GPU-rendering-Tracker-Android/") Android 
				| and 
				a(href="https://pivotaltracker.com/blog/notes-on-march-2017-ios-security-guide/") iOS. 
				| All of this development took place in a framework of strict TDD and pair programming. #[br] #[br] In addition to technical topics, I worked to promote 
				a(href="https://pivotaltracker.com/blog/changing-group-behavior-with-small-actions-inclusion-thing-of-the-week") diversity and inclusion 
				| as well as define product direction by leading a multi-month process of facilitation, listening, and accountability. #[br] #[br] I've received 
				a(href="https://gist.github.com/lalunamel/3cd71480b8bf5c3a1558f5825a557f1a#feedback-ive-received") positive feedback 
				| about all of the above.
				
		section.work-block.column-left
			a(href='http://www.ngpvan.com', title='NGP VAN')
				img(src='/img/work/ngpvan.png', alt='NGP VAN')
				h3.header NGP VAN
				h3.header Washington, D.C.
			p.description
				| My last internship brought me to Washington, D.C. and NGP VAN, the political technology company powering the Democrats, labor unions, and nonprofits. I worked with 
				a(href="https://www.linkedin.com/pub/aharon-wasserman/2a/540/609") Aharon Wasserman
				| , VP of Creative and Marketing to transform the company into a design-first organization. Together we put on NGP VAN Next, the company's first ever marketing event. I created the invitation and website to accompany the physical event and YouTube livestream. I also created 
				a(href="http://bit.ly/164JV3i") mock-ups
				|  for their new marketing pages. I loved being able to engage in design criticism with another creative professional. At the end of the summer I asked Aharon how he felt about my time at NGP VAN and he said: "It's so hard to find good designer-developers; you'd be a gift to any team."
		section.work-block.column-right
			a(href='http://www.pivotaltracker.com', title='Pivotal Tracker')
				img(src='/img/work/tracker.png', alt='Pivotal Tracker')
				h3.header Pivotal
				h3.header Denver
			p.description
				| During the summer of 2013 I worked on Pivotal Tracker, a project management tool built for developers. The Tracker team used Rails and Backbone with strict agile to create a great client side app. I helped to develop Tracker Next, a redesigned version of this tool. I also worked with their designer, 
				a(href='https://twitter.com/drewmck') Drew McKinney
				| , to create wireframes and full mockups using Adobe Fireworks.
		section.work-block.column-left
			a(href='http://bit.ly/1j8m2HJ', title='Futura Book')
				img(src='/img/work/futuraBook.png', alt='Futura Book')
				h3.header Futura Book
				h3.header Galesburg
			p.description
				| As part of an independent study on typography taught by 
				a(href='http://www.linkedin.com/pub/tim-stedman/14/666/266') Tim Stedman
				| , I wrote and designed a small book on Paul Renner and his typeface called Futura. First, research was done and a paper was written. Then, graphics were added and the work was composed using Adobe Indesign.  Finally, I bound everything by hand using paper, cardboard, and athletic tape. It was a labor of love and the result of many late Thursday nights. I am incredibly proud of the final product.
		section.work-block.column-right
			a(href='http://www.dwolla.com', title='Dwolla')
				img(src='/img/work/dwolla.png', alt='Dwolla')
				h3.header Dwolla
				h3.header Des Moines
			p.description
				| My first internship took place at Dwolla in Des Moines after my freshman year of college. Dwolla is an easy way to send money without the high fees that credit cards typically charge. Think PayPal, but way better. I used MVC/.Net C# to maintain a system responsible for transferring huge amounts of cash daily. I also learned about the interesting and horribly outdated ACH system used to manage money in the United States. My pet project was 
				a(href='http://blog.dwolla.com/dwolla-places-is-now-live/') Dwolla Places
				| , a way for businesses and customers to connect on the payment network. The CEO 
				a(href='http://www.benmilne.com/') Ben Milne 
				| made a big impression on me and he had this to say: "I asked Cody to drop out of school. He turned me down. If you're reading [this], that means I don't know he's looking for work or he already turned me down, again. If I started another company today he's one of a small handful of people I'd ask to join me on day 1."
		section.work-block.column-left
			a(href='http://bit.ly/HVerAB', title='Knox College Art Department')
				img(src='/img/work/artDepartment.png', alt='Knox College Art Department')
				h3.header Art Department
				h3.header Galesburg
			p.description
				| At my college in Illinois, there is always a next project. The department of art and art history needed to update their website. They had a professor (
				a(href='http://www.linkedin.com/pub/tim-stedman/14/666/266') Tim Stedman
				| ) who knew design, and they needed someone who knew the web. Enter Cody Sehl, burgeoning developer/designer. Tim and I worked in Indesign to create mockups, then took to Sublime Text to create the actual web page. Tim and I have a symbiotic relationship: He learns web development from me while I learn design from him. The project is currently under development.
		section.work-block.column-right
			a(href='http://www.theknoxstudent.com', title='The Knox Student')
				img(src='/img/work/tks.png', alt='The Knox Student')
				h3.header The Knox Student
				h3.header Galesburg
			p.description
				| The Knox Student, aka TKS, is my college's newspaper. I joined the staff along with one other student in the winter of 2011. During my time, I have overseen the transition from Django to Wordpress and the implementation of professional development practices like weekly backups, version control (git, if you're wondering), bug tracking, and staging/production environments. Day to day, I deliver feature requests and bug fixes. Oftentimes features necessitate the creation of documentation for use by the other, nontechnical editors at the paper. I really enjoy working closely with the diverse staff on TKS.
		section.work-block.column-left
			a(href='http://bit.ly/HBRlyK', title='Send Me Happy')
				img(src='/img/work/smh.png', alt='Send Me Happy')
				h3.header Send Me Happy
				h3.header Des Moines
			p.description
				| Send Me Happy is motivational text messages on a schedule. Sign up and you might receive a message complimenting your shoes, for example. The messages are so small and inconsequential it's actually hard not to laugh a little bit. That's the point, too: receive an unexpected, quirky message about how great you are, and you'll be just a little better off for it. It's like guerilla warfare of the mind, only REVERSED. Have fun, and take a moment to notice the great shoes you're wearing!
		section.work-block.column-right
			a(href='https://github.com/lalunamel/tracker-git', title='tracker-git')
				img(src='/img/work/git.png', alt='tracker-git')
				h3.header tracker-git
				h3.header Denver
			p.description
				| I love working with 
				a(href='http://www.pivotaltracker.com/') Tracker
				| . I love using git. I love using Tracker's git integrations, but not that much. In order to finish a Tracker story, you have to enter a command like 'git commit -m "[Finishes #12345678] A nice commit message."' That may not seem terrible, but after the 10th time, it gets a little tedious. tracker-git shortens commands like that by paring them down to the meat and potatoes. Instead of that verbose command, you can use 'git finish 12345678 "A nice commit message in quotes."' A little bit nicer, a little bit quicker, and a little bit easier.
		section.work-block.column-left
			a(href='http://bit.ly/1fF5J5f', title='Fundamentals of 2D Design')
				img(src='/img/work/2dDesign.png', alt='Fundamentals of 2D Design')
				h3.header Fundamentals of 2D Design
				h3.header Galesburg
			p.description
				| This interactive material was inspired by Tim Stedman's Fundamentals of 2D Design class at Knox College. By arranging black rectangles on a white background, the user will create visually interesting compositions. This is surprisingly difficult given the simplicity of the forms you have to work with. To create quality compositions requires an incredible amount of time and concentration. I have gone through the process though, and can say it's well worth the 
				a(href='', http:='http:', bit.ly='bit.ly', 1ff5j5f='1fF5J5f') result
				| .
		section.work-block.column-right
			a(href='http://cs.knox.edu', title='Knox College Computer Science Department')
				img(src='/img/work/knox.png', alt='Knox College Computer Science Department')
				h3.header CS Department
				h3.header Galesburg
			p.description
				| Being a small liberal arts college, Knox doesn't have the resources to hire a team of web developers. As a result, many of the department pages are unattractive and hard to navigate. When I came to the college in 2011, I offered to update the computer science department website with a new look and current information. They took me up on my offer and the site was updated and organized so that students can easily find course schedules and technical documents. Changes have been made by the department, but the overall feeling of the original design still persists. This was my first web project at Knox.
		section.work-block.column-left
			a(href='http://bit.ly/1j7ax3c', title='Anamorphic Typography')
				img(src='/img/work/anamorphicTypography.png', alt='Anamorphic Typography')
				h3.header Anamorphic Typography
				h3.header Galesburg
			p.description
				| This project was the result of yet another class with Tim Stedman. At the time, I was very interested in works that only existed to certain viewers (at a finite perspective) at a certain time. The culmination of this class was this anamorphic typography project. Made out of blue painters tape, it suspends the perspective of a particular viewer and displays it on the open space. To see the work properly, it must be viewed at the proper angle. Interestingly though, this angle is observable by everyone through the stretching and warping of the letters on brick.
		section.work-block.column-right
			a(href='http://codysehl.net/Dashboard-Website/dashboard.html', title='Dashboard')
				img(src='/img/work/dashboard.png', alt='Dashboard')
				h3.header Dashboard
				h3.header Lake Forest
			p.description
				| Dashboard was my very first web project. Made during high school with php and javascript, it morphed into a purely client-side app later on in it's life. The idea was to create an entirely public space where users could leave notes on a 2D plane, like a digital cork board. By clicking the link button at the top right of a note, users can transform their content into an embedded object. So, for example, one might paste the embed code of a youtube video into a note, then click the link at the top right, and voila! The user's note is now a video! This was a very fun project to work on as an introduction to web programming.
		section.work-block.column-left
			a(href='https://github.com/lalunamel/NodeDynamicImageServer', title='Node Image Server')
				img(src='/img/work/nodejs.png', alt='Node Image Server')
				h3.header Node Image Server
				h3.header Lake Forest
			p.description
				| This was a simple node tutorial created as much for others as it was for myself. The tutorial guides the developer through the steps it takes to create a dynamic image server, not unlike a site like 
				a(href='http://www.placekitten.com') Placekitten
				| . Creating this tutorial really forced me to become conversant with the fine details of node — there's no faking it when you have to explain a technology. I loved learning about the nitty-gritty of node, though I regret that I have not had the opportunity to use it since.
