extends _layout

block content
	section.intro
		h2.header Cody Sehl
		.description is a developer and designer in Denver, Colorado. #[br] He currently works on mobile applications at Pivotal.
	section.feature-section
		ul.centered-list
			li
				a cody.sehl@gmail.com
			li
				a(href='https://github.com/lalunamel') Github
			li
				a(href='http://www.behance.net/codysehl') Behance
			li
				a(href='http://www.linkedin.com/pub/cody-sehl/45/21a/524') Linkedin
