extends _layout

block content
	section.intro
		h2.header Cody Sehl
		.description
			:markdown
				is a developer and designer in Denver, Colorado.
	.column-wrap
		section.column-left.feature-section
			h3.header 
				span.octicon.octicon-code(alt='Developer')
				span Developer
			.description
				:markdown
					I have a Bachelor of Arts in Computer Science from Knox College and have had several successful [internships](/work#Pivotal Labs). I love creating new things and seeing where my creativity can take me. I think—if possible—what you work on should do some kind of good. Less Groupon, more Code for America.
		section.column-right.feature-section
			h3.header
				span.octicon.octicon-pencil(alt='Designer')
				span Designer
			.description
				:markdown
					Design is important. You can't just willy-nilly your way through things, you gotta plan it out — make sure everything looks proper. To this end, I've explored the issues of [composition](http://bit.ly/1fF5J5f), [layout](http://bit.ly/HVerAB), and [typography](http://bit.ly/1j8m2HJ). I want to make something that works well *and* looks good.
	section.feature-section
		h3.header
			span.octicon.octicon-comment(alt="Contact")
			span Contact
		p.description You can contact me by:
		ul
			li
				a cody.sehl@gmail.com
			li
				a(href='http://www.linkedin.com/pub/cody-sehl/45/21a/524') Linkedin
			li
				a(href='https://github.com/lalunamel') Github
			li
				a(href='http://www.behance.net/codysehl') Behance
			li
				a(href='#contact') Shouting Binary Into CAT5
